---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout
  title="Nicholas Trigger - Curriculum Vitae"
  sideBarActiveItemID="cv"
>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a dedicated and innovative Biomedical Engineering student at Duke
    University, I am passionate about leveraging my technical expertise and
    leadership skills to make impactful contributions in the field of
    engineering and medicine. With a strong foundation in engineering
    principles, demonstrated through hands-on experience in workshop management
    and teaching assistant roles, I excel in environments that require both
    technical acumen and effective communication. My involvement in diverse
    projects, from clinical research to developing a patented medical device,
    reflects my commitment to practical, real-world applications of biomedical
    engineering. I am eager to further my experience in a dynamic and
    challenging environment, where I can contribute to meaningful advancements
    in healthcare and engineering.
  </div>

  <div class="mb-5 items-center self-center">
    <a
      href="https://duke.box.com/s/g4uf97sq9jq5zdsoe0rsb8g2djkvfpm2"
      class="btn align-center"
      target="_blank"
      >Resume
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: currentColor;transform: ;msFilter:;"
        ><path d="m12 16 4-5h-3V4h-2v7H8z"></path><path
          d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"
        ></path></svg
      >
    </a>

    <a class="btn align-center" target="_blank"
      >LinkedIn <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: currentColor;transform: ;msFilter:;"
        ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
          d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
        ></path>
      </svg>
    </a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Duke University"
      subtitle="2022 to 2026 (expected) — Durham, NC"
    />
    <TimeLineElement
      title="Incarnate Word Academy High School"
      subtitle="2018 to 2022 — Corpus Christi, Tx"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Assistant Manager"
      subtitle="From Sepember 2023 to Present at The Foundry (Duke University) - Durham, NC"
    >
      <ul class="list-disc mx-6 mb-6 grid gap-0.5 text-sm">
        <li>Made continuous improvements to the Foundry maker space.</li>
        <li>
          Developed new processes to improve the utility and safety of the
          foundry.
        </li>
        <li>
          Assisted students and engineering clubs with the fabrication of
          projects in the shared space.
        </li>
        <li>Managed the Foundry's stock of materials and tools.</li>
        <li>Trained new employees on the use of the Foundry's equipment.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Design Teaching Assistant"
      subtitle="From August 2023 to Present at Duke University - Durham, NC"
    >
      <ul class="list-disc mx-6 mb-6 grid gap-0.5 text-sm">
        <li>
          Helped students operate machinery and tools used in engineering
          workflows. These include FDM printing devices, laser cutters, and
          software such as Fusion 360.
        </li>
        <li>
          Taught the fundamentals of engineering design through the EGR-101
          course to first-year engineering students (<a href="fyd.duke.edu"
            >fyd.duke.edu</a
          >).
        </li>
        <li>Graded student's projects and provided feedback.</li>
        <li>Machine shop safety training and certification.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Services Intern"
      subtitle="From July 2023 to August 2023 at The City of Corpus Christi - Corpus Christi, TX"
    >
      <ul class="list-disc mx-6 mb-6 grid gap-0.5 text-sm">
        <li>
          Worked with the Engineering Services Department to develop a new
          system for tracking and managing the city's infrastructure.
        </li>
        <li>
          Created several workflows to improve efficiency within the division.
        </li>
        <li>
          Assisted in the transition and deployment of a new data management and
          project tracking system.
        </li>
        <li>Assisted in project management and budgeting.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Clinical Research Associate"
      subtitle="From June 2023 to August 2023 at CHRISTUS Spohn Health System (Shoreline) - Corpus Christi, TX"
    >
      <ul class="list-disc mx-6 mb-6 grid gap-0.5 text-sm">
        <li>
          Worked with the Institutional Review Board (IRB) to ensure compliance
          with all federal regulations.
        </li>
        <li>Assisted in the collection and analysis of data.</li>
        <li>
          Collected data for several clinical studies as part of the Emergency
          Medicine Residency Program, following all procedures as required by
          the FDA.
        </li>
        <li>
          Used EMR tools such as Meditech to gather and analyze medical record
          data for studies.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Soccer Referee (GR 5)"
      subtitle="From 2020 to Present at The USSF - National"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>
          Applied the laws of soccer as designated by The IFAB in a fair manner.
        </li>
        <li>Managed the game and ensure the safety of the players.</li>
        <li>Communicated with players and coaches to ensure a fair game.</li>
        <li>Made decisions on fouls, misconduct, and other infractions.</li>
        <li>Maintained a professional demeanor and appearance.</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Patents</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Device and Methods for Arterial Insertion Training | US 63/463,432
      (Provisional) Filed May 2, 2023
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Leadership & Extracuricular Involvement
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PATS Development - Founder and Developer"
      subtitle="August 2022 to Present"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>
          Developing an innovative arterial line placement device, received a
          $5,000 VentureWell grant.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="DuRM Robotics Mentorship - Community Outreach Lead & Classroom Mentor"
      subtitle="September 2023 to Present"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>
          Developed a and taught curriculum for teaching robotics to middle
          school students.
        </li>
        <li>
          Interacted with local schools to create schedules for mentors to teach
          robotics.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Duke AERO - Payload Team"
      subtitle="August 2022 to May 2023"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>
          Contributed to the development of a CubeSat-like payload for the Duke
          AERO 2023 rocket.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="RunCorpusChristi - Founder, Event Manager, and Team Lead"
      subtitle="August 2020 - July 2022"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>Organized running events for charity in Corpus Christi, TX.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Texas State Aquarium - Student Volunteer | Fish & Herpetology"
      subtitle="May 2017 - April 2019"
    >
      <ul class="list-disc mx-6 grid gap-0.5 text-sm">
        <li>Cared for animals and educated guests on environmental issues.</li>
        <li>Gold Presidents award for Volunteer Service</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.citiprogram.org/verify/?w36eb6ede-5dde-40c6-a7b6-5dc6190f6a21-57141618"
        target="_blank"
      >
        &#128279; CITI Program - Clinical Research Coordinator (CRC)</a
      >
    </li>
    <li>
      <a
        href="https://www.citiprogram.org/verify/?w30e0d541-b4f8-4c06-93fd-3a20ad6d4dcf-57141616"
        target="_blank"
      >
        &#128279; CITI Program - Principal Investigator; Sub Investigators;
        CRC's (Human Subjects)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python, C, LaTeX, SQL</li>
    <li>HTML, CSS, TailwindCSS</li>
    <li>AutoCAD</li>
    <li>AutoDesk Fusion360</li>
    <li>AutoDesk Eagle</li>
    <li>Word, Excel, PPT, Outlook</li>
    <li>CAM</li>
    <li>3D Printing</li>
    <li>GIS, Google Earth PRO</li>
    <li>Machining</li>
    <li>Circuit Board Creation</li>
    <li>Robotics</li>
    <li>SCUBA</li>
    <li>Photoshop, Illustratior</li>
    <li>Event Management</li>
  </ul>

</BaseLayout>
