---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title = "Nicholas Trigger - ALPT" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Arterial Line Placement Training Device</div>
  </div>

  <div class="flex-auto bg-neutral rounded-md padding-md">
    <div class="text-3xl w-full font-bold mb-5 mt-10">Version 3.2</div>
  </div>
</BaseLayout>